.btn{
  display: block;
  height: 37px;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font: 500 14px / 18px $font-family;
  background-color: $orange-color;  
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  padding: 9px 0;
  transition: background-color .2s ease;
  border: none;
  outline: none;
  width: 100%; 
}
.btn:hover{
  background-color: $dark-orange-color;
}

.btn--icon-calendar{
  background-image: url(../img/IC-Calendar.png);
  background-repeat: no-repeat;
  background-position: 20px 8px;
  padding-left: 15px;
}

.btn--simple{
  background: transparent;
  border: 2px solid #fff;
}
.btn--simple:hover{
  background: transparent;
}

.btn--href{
  border-bottom: 1px dashed #191919;
  background: transparent;
  color: #191919;
  width: 83px;
  border-radius: 0; 
  height: 18px;
  margin: 25px auto 0;
  padding: 0;
  
  @media (min-width: $medium-breakpoint) {
    display: inline-block;
    margin-left: 65px;
    margin-top: 0;
  }  
}

.btn--href:hover{
  background: transparent;
}

.btn--inline{
  @media (min-width: $medium-breakpoint) {
    display: inline-block;
    width: 181px;
  }  
}

.btn--submit{
  border-radius: 0;
  background-color: #0ab89d;
  height: 50px;
}

.btn--submit:hover{
  background-color: darken(#0ab89d, 15%);
}