.page-header {
  border-bottom: 1px solid #ebebeb;
  
  &__inner {
    
    @include grid();   
    align-items: center;
    padding-top: 15px;
    
    @media(min-width: $large-breakpoint){      
        @include container();
        height: 89px;
        padding: 0;
    }
    
  }  
  
  &__menu-toggler-wrap{
    display: flex;
    height: 34px;
    align-items: flex-end;
    margin-right: 20px;
  }
  &__btn-wrap {
    display: none;
    
    @media(min-width: $large-breakpoint){ 
      display: block;
      width: 181px;
      margin-left: 60px;
    }
  }
 
}