.recomendation{
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  
  &__item{
    display: block;
    margin: 20px auto 0;
    width: 280px;
    text-decoration: none;
    
    @media (min-width: $medium-breakpoint){
      width: 355px;
      display: inline-block;
      margin: 20px 10px 0;
    }
    
    @media (min-width: $large-breakpoint) {
      width: 378px;
    }
  }
  
  &__item:last-of-type{
    display: none;
    
    @media (min-width: $large-breakpoint) {
      display: inline-block;
    }
  }
}