.review-slider{
  position: relative;
  
  &__inner{
    display: flex;    
    overflow: hidden;
    margin: 0 auto;
    
    @media (min-width: $medium-breakpoint) {
      width: 479px;
    }
    
    @media (min-width: $large-breakpoint) {
      width: 998px;
      height: 364px;
      position: relative;
    }
    
  }
  
  &__item{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    transition: transform .4s ease;
    
    &:not(:first-of-type) {
      display: none;
    }
    
    @media (min-width: $large-breakpoint) {
      flex-direction: row;
      position: absolute;
      width: 100%;
      transform: translate3d(100%, 0, 0);
      left: 0;
      
      &:not(:first-of-type) {
        display: flex;
      }
      
      &--active{
        transform: translate3d(0, 0, 0);
      }
    }
  }
  
  &__control{
    @media (min-width: $large-breakpoint) {
      height: 20px;
      width: 20px;
      position: absolute;
      border-right: 2px solid #fff;
      border-top: 2px solid #fff;
      top: 55%;
      cursor: pointer;
      
      &--right{
        transform: rotate(45deg);
        right: 11%;
      }
      
      &--left{
        transform: rotate(-135deg);
        left: 11%;
      }
    }
  }
}