$orange-color: #ff7435;
$dark-orange-color: #e85715;
$green-color: #0ab89d;
$medium-breakpoint: 768px;
$large-breakpoint: 1200px;
$letter-spacing: 0.05em;
$font-family: 'Fira Sans';
$font-family-banner: 'PT Serif';
$animation-time: 4s;
$form-background-color: #f1f1f1;
$border: 1px solid #ebebeb;