html, body {
  margin: 0;
  padding: 0; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.gr {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 10px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .gr {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      padding: 0 10px;
      box-sizing: border-box; } }
  @media (min-width: 1200px) {
    .gr {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      padding: 0 10px;
      box-sizing: border-box; } }

.page-header {
  border-bottom: 1px solid #ebebeb; }
  .page-header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px; }
    @media (min-width: 1200px) {
      .page-header__inner {
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        height: 89px;
        padding: 0; } }
  @media (min-width: 1200px) and (min-width: 1200px) {
    .page-header__inner {
      width: 1180px; } }
  .page-header__btn-wrap {
    display: none; }
    @media (min-width: 1200px) {
      .page-header__btn-wrap {
        display: block;
        width: 181px;
        margin-left: 60px; } }

.site-logo {
  display: block;
  width: 149px;
  margin: 0 auto 22px;
  padding-left: 49px; }
  @media (min-width: 1200px) {
    .site-logo {
      margin: 0 0 0 10px;
      padding: 0; } }

.menu-toggler {
  width: 29px;
  height: 4px;
  background-color: #ff7435;
  position: relative;
  margin-right: 20px;
  margin-bottom: 22px;
  cursor: pointer; }
  @media (min-width: 1200px) {
    .menu-toggler {
      display: none; } }

.menu-toggler:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ff7435;
  top: -8px; }

.menu-toggler:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ff7435;
  top: 8px; }

.main-nav {
  width: 100%; }
  @media (min-width: 1200px) {
    .main-nav {
      width: auto;
      margin-left: 37px; } }
  .main-nav__list {
    height: 0;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    @media (min-width: 1200px) {
      .main-nav__list {
        height: auto;
        display: inline-block; } }
  .main-nav__list--open {
    height: 250px; }
  .main-nav__item {
    height: 50px;
    display: inline-block;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box; }
    @media (min-width: 1200px) {
      .main-nav__item {
        width: auto;
        height: auto;
        border-top: none;
        margin-right: 12px; } }
  .main-nav__item--active .main-nav__link {
    color: #ff7435; }
  .main-nav__link {
    color: #191919;
    font: 400 14px/50px "Fira Sans";
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: block; }
    @media (min-width: 1200px) {
      .main-nav__link {
        line-height: 14px; } }

.short-contacts {
  display: none; }
  @media (min-width: 1200px) {
    .short-contacts {
      display: inline-block;
      margin-left: 98px; } }
  @media (min-width: 1200px) {
    .short-contacts__phone {
      display: block;
      color: #191919;
      font: 700 18px / 18px PTSans;
      text-decoration: none;
      letter-spacing: 0.05em; } }
  @media (min-width: 1200px) {
    .short-contacts__address {
      display: block;
      color: #191919;
      font: 400 14px/18px "Fira Sans";
      margin-top: 13px; } }

.btn {
  display: block;
  height: 37px;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font: 500 14px/18px "Fira Sans";
  background-color: #ff7435;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  padding: 9px 0;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  border: none;
  outline: none;
  width: 100%; }

.btn:hover {
  background-color: #e85715; }

.btn--icon-calendar {
  background-image: url(../img/IC-Calendar.png);
  background-repeat: no-repeat;
  background-position: 20px 8px;
  padding-left: 15px; }

.btn--simple {
  background: transparent;
  border: 2px solid #fff; }

.btn--simple:hover {
  background: transparent; }

.promo-slider {
  overflow-x: hidden; }
  .promo-slider__tabs {
    margin: 16px 0 30px;
    padding: 0;
    text-align: center; }
    @media (min-width: 1200px) {
      .promo-slider__tabs {
        margin: 31px 0 58px; } }
  .promo-slider__tabs-item {
    display: inline-block;
    margin-right: 16px; }
    @media (min-width: 768px) {
      .promo-slider__tabs-item {
        margin-right: 36px; } }
    .promo-slider__tabs-item__tabs-item:last-child {
      margin-right: 0; }
    .promo-slider__tabs-item a {
      color: #838383;
      font: 400 14px/14px "Fira Sans";
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .promo-slider__tabs-item--active a {
      color: #ff7435;
      position: relative; }
    .promo-slider__tabs-item--active a:before {
      content: '';
      position: absolute;
      width: 30px;
      border-bottom: 2px solid #ff7435;
      bottom: -9px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

.img-slider {
  height: 320px; }
  @media (min-width: 453px) {
    .img-slider {
      height: 430px; } }
  .img-slider__item {
    box-sizing: border-box;
    background: url(../img/promo-slider.png) no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 20px;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease; }
    .img-slider__item:first-child {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .img-slider__item:last-child {
      -webkit-transform: translate3d(100%, -100%, 0);
      transform: translate3d(100%, -100%, 0); }
    .img-slider__item--active:first-child {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .img-slider__item--active:last-child {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0); }
    @media (min-width: 453px) {
      .img-slider__item {
        background-position: center; } }
    @media (min-width: 1200px) {
      .img-slider__item {
        padding-top: 90px; } }
  .img-slider__inner {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 20px;
    text-align: center; }
    @media (min-width: 1200px) {
      .img-slider__inner {
        width: 1180px; } }
    @media (min-width: 768px) {
      .img-slider__inner {
        background-color: transparent;
        text-align: left; } }
    @media (min-width: 1200px) {
      .img-slider__inner {
        padding-left: 0; } }
  .img-slider__title {
    color: #1c1c1c;
    font: 18px/26px "PT Serif"; }
    @media (min-width: 768px) {
      .img-slider__title {
        font: 36px/42px "PT Serif";
        display: inline-block;
        width: 571px; }
        .img-slider__title span {
          background-color: rgba(255, 255, 255, 0.9);
          padding: 0 10px; } }
  .img-slider__text {
    color: #1c1c1c;
    font: 400 16px/24px "PT Serif";
    margin: 12px 0 0; }
    @media (min-width: 768px) {
      .img-slider__text {
        font: 400 18px/24px "PT Serif";
        margin: 25px 0 0;
        width: 483px; }
        .img-slider__text span {
          background-color: rgba(255, 255, 255, 0.9);
          padding: 0 10px; } }

.service-slider {
  height: 362px; }
  @media (min-width: 768px) {
    .service-slider {
      height: 533px; } }
  @media (min-width: 1200px) {
    .service-slider {
      height: 360px; } }
  .service-slider__item {
    background: url(../img/service-bg.png) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
    padding: 42px 35px 0;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease; }
    @media (min-width: 768px) {
      .service-slider__item {
        padding: 42px 83px 0;
        background-size: 105% 75%;
        background-position: top; } }
    @media (min-width: 1200px) {
      .service-slider__item {
        padding: 0 17.8%;
        background-size: 75%;
        background-position: center; } }
    .service-slider__item:first-child {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .service-slider__item:last-child {
      -webkit-transform: translate3d(100%, -100%, 0);
      transform: translate3d(100%, -100%, 0); }
    .service-slider__item--active:first-child {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .service-slider__item--active:last-child {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0); }
  .service-slider__title {
    color: #000000;
    font: 26px "PT Serif";
    width: 144px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .service-slider__title {
        font-size: 30px;
        width: auto; } }
  .service-slider__descr {
    color: #000000;
    font: 400 16px/22px "Fira Sans";
    margin: 36px 0 0; }
    @media (min-width: 1200px) {
      .service-slider__descr {
        width: 580px;
        margin: 40px auto; } }
  .service-slider__list {
    display: none; }
    @media (min-width: 768px) {
      .service-slider__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 36px 0 0;
        padding: 0;
        list-style: none; } }
  @media (min-width: 768px) {
    .service-slider__list-item {
      -webkit-flex-basis: 90px;
      -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
      color: #191919;
      font: 500 14px/18px "Fira Sans";
      text-transform: uppercase;
      margin: 0 27px 27px;
      padding-top: 95px; } }
  @media (min-width: 768px) {
    .service-slider__list-item:first-child {
      background: url(../img/swimming_pool.png) no-repeat; } }
  @media (min-width: 768px) {
    .service-slider__list-item:nth-child(2) {
      background: url(../img/galaxy-football-school.png) no-repeat; } }
  @media (min-width: 768px) {
    .service-slider__list-item:nth-child(3) {
      background: url(../img/pic.png) no-repeat; } }
  @media (min-width: 768px) {
    .service-slider__list-item:nth-child(4) {
      background: url(../img/spa1.png) no-repeat; } }
  @media (min-width: 768px) {
    .service-slider__list-item:nth-child(5) {
      background: url(../img/123.png) no-repeat; } }
  @media (min-width: 768px) {
    .service-slider__list-item:last-child {
      background: url(../img/animation.png) no-repeat; } }

.gallery {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 50px; }
  @media (min-width: 1200px) {
    .gallery {
      width: 1180px; } }
  @media (min-width: 1200px) {
    .gallery {
      margin-top: 75px;
      padding-bottom: 40px; } }
  .gallery__slider {
    height: 260px;
    position: relative;
    cursor: -webkit-grab;
    cursor: grab; }
    @media (min-width: 768px) {
      .gallery__slider {
        height: 325px; } }
    @media (min-width: 1200px) {
      .gallery__slider {
        height: 500px; } }
  .gallery__slider-inner {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%; }
  .gallery__slider-item {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  .gallery__slider-item--active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .gallery__slider-img {
    height: 100%;
    object-fit: cover;
    width: 100%; }
  .gallery__thumb {
    display: none; }
    @media (min-width: 768px) {
      .gallery__thumb {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 75px;
        overflow: hidden; } }
    @media (min-width: 768px) {
      .gallery__thumb {
        height: 115px; } }
  @media (min-width: 768px) {
    .gallery__thumb-item {
      height: 100%;
      width: 128px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      cursor: pointer; } }
  @media (min-width: 768px) {
    .gallery__thumb-item {
      width: 200px; } }

.left {
  -webkit-animation: left 4s ease-in-out;
  animation: left 4s ease-in-out; }

.right {
  -webkit-animation: right 4s ease-in-out;
  animation: right 4s ease-in-out; }

.active-left {
  -webkit-animation: active-left 4s ease-in-out;
  animation: active-left 4s ease-in-out; }

.active-right {
  -webkit-animation: active-right 4s ease-in-out;
  animation: active-right 4s ease-in-out; }

@-webkit-keyframes left {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; } }

@keyframes left {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; } }

@-webkit-keyframes right {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; } }

@keyframes right {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; } }

@-webkit-keyframes active-left {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: -1; }
  26% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; } }

@keyframes active-left {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: -1; }
  26% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; } }

@-webkit-keyframes active-right {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; } }

@keyframes active-right {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; } }

.review {
  background: url(../img/bike-hire-family.png) no-repeat;
  background-size: cover; }
  .review__inner {
    padding-top: 65px;
    padding-bottom: 48px;
    text-align: center; }
  .review__btn-wrap {
    margin: 38px auto 0;
    width: 146px; }

.review-slider {
  position: relative; }
  .review-slider__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .review-slider__inner {
        width: 479px; } }
    @media (min-width: 1200px) {
      .review-slider__inner {
        width: 998px;
        height: 364px;
        position: relative; } }
  .review-slider__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease; }
    @media (min-width: 1200px) {
      .review-slider__item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        position: absolute;
        width: 100%;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0; }
        .review-slider__item--active {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); } }
  @media (min-width: 1200px) {
    .review-slider__control {
      height: 20px;
      width: 20px;
      position: absolute;
      border-right: 1px solid #fff;
      border-top: 1px solid #fff;
      top: 55%;
      cursor: pointer; }
      .review-slider__control--right {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 11%; }
      .review-slider__control--left {
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
        left: 11%; } }

.review-card {
  width: 100vw;
  background: #fff;
  margin-top: 54px;
  padding: 0 42px 25px;
  box-sizing: border-box; }
  .review-card:last-child {
    display: none; }
  @media (min-width: 768px) {
    .review-card {
      width: 479px;
      margin-left: auto;
      margin-right: auto; }
      .review-card:last-child {
        display: block; } }
  @media (min-width: 1200px) {
    .review-card {
      display: inline-block;
      margin: 54px 10px 0; }
      .review-card:last-child {
        display: inline-block; } }
  .review-card__photo {
    width: 82px;
    height: 82px;
    border: 2px solid #fff;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px); }
  .review-card__name {
    color: #191919;
    font: 500 14px/18px "Fira Sans";
    display: block;
    margin: -10px; }
  .review-card__social {
    text-align: center;
    margin-top: 20px; }
  .review-card__social-icon {
    height: 16px;
    width: 22px;
    display: inline-block; }
    .review-card__social-icon--vk {
      background: url(../img/IC-VK.png) no-repeat;
      background-size: contain; }
    .review-card__social-icon--fb {
      background: url(../img/IC-fb.png) no-repeat;
      background-size: contain; }
  .review-card__text {
    color: #000000;
    font: 400 16px/22px "Fira Sans";
    margin: 16px 0 25px; }
  .review-card__date {
    color: #191919;
    font: 400 14px/18px "Fira Sans";
    width: 144px;
    margin: 0 auto; }

.section-title {
  color: #000000;
  font: 26px "PT Serif";
  margin: 0 auto;
  letter-spacing: 0.05em;
  width: 185px;
  text-align: center; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 30px;
      width: auto; } }

.section-title--white {
  color: #ffffff; }

.actions__inner {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-top: 53px;
  text-align: center;
  padding-bottom: 35px; }
  @media (min-width: 1200px) {
    .actions__inner {
      width: 1180px; } }
  @media (min-width: 768px) {
    .actions__inner {
      padding-bottom: 25px; } }
  @media (min-width: 1200px) {
    .actions__inner {
      padding-bottom: 50px; } }

.actions-slider {
  width: 100%;
  height: 370px;
  overflow: hidden;
  position: relative; }
  @media (min-width: 1200px) {
    .actions-slider {
      height: 420px; } }
  .actions-slider__item {
    background: url(../img/weeretewrt.png) no-repeat center;
    background-size: cover;
    height: 296px;
    margin-top: 35px;
    position: relative;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out; }
    @media (min-width: 1200px) {
      .actions-slider__item {
        height: 336px; } }
    .actions-slider__item:first-of-type {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .actions-slider__item:last-of-type {
      -webkit-transform: translate3d(100%, -100%, 0);
      transform: translate3d(100%, -100%, 0); }
    .actions-slider__item--active:first-of-type {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .actions-slider__item--active:last-of-type {
      -webkit-transform: translate3d(0, -110.5%, 0);
      transform: translate3d(0, -110.5%, 0); }
  .actions-slider__inner {
    width: 296px;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: left;
    padding: 16px 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    left: 0px; }
  .actions-slider__title {
    color: #ff7435;
    font: 500 18px/24px "Fira Sans";
    text-transform: uppercase; }
  .actions-slider__text {
    color: #191919;
    font: 400 16px/20px "Fira Sans";
    margin: 0; }
  .actions-slider__indicator {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .actions-slider__indicator-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ff7435;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer; }
    .actions-slider__indicator-item--active {
      background: #ff7435; }

.transport__inner {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 33px;
  text-align: center; }
  @media (min-width: 1200px) {
    .transport__inner {
      width: 1180px; } }
  @media (min-width: 768px) {
    .transport__inner {
      padding-top: 25px;
      padding-bottom: 50px; } }
  @media (min-width: 1200px) {
    .transport__inner {
      padding-top: 50px;
      padding-bottom: 70px; } }

.transport__info {
  padding: 0 58px; }
  @media (min-width: 1200px) {
    .transport__info {
      padding: 0;
      width: 840px;
      margin: 0 auto; } }

.transport__card {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .transport__card:last-of-type {
      margin: 30px auto 0;
      width: 333px; } }
  @media (min-width: 1200px) {
    .transport__card {
      display: inline-block;
      width: 412px;
      vertical-align: top;
      margin-right: 42px; }
      .transport__card:last-of-type {
        margin-top: 40px;
        margin-left: 42px; } }

.transport__icon {
  width: 58px;
  height: 27px;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid; }
  .transport__icon--bus {
    background: url(../img/icon-bus.png) no-repeat center; }
  .transport__icon--train {
    background: url(../img/train-icon.png) no-repeat center; }

.transport__name {
  color: #191919;
  font: 500 14px/24px "Fira Sans";
  margin-top: 10px;
  text-transform: uppercase; }

.transport__text {
  color: #191919;
  font: 400 16px/22px "Fira Sans";
  margin: 17px 0 0; }
  @media (min-width: 1200px) {
    .transport__text {
      text-align: left; } }
  .transport__text span {
    font-weight: bold; }

.map {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  height: 400px;
  margin-top: 35px; }
  @media (min-width: 1200px) {
    .map {
      width: 1180px; } }
  @media (min-width: 1200px) {
    .map {
      margin-top: 40px; } }

.accomodation {
  background: url(../img/accomodation-bg.png) no-repeat;
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 50px; }
  .accomodation__inner {
    padding-top: 15px;
    text-align: center; }
  .accomodation__item {
    width: 278px;
    display: block;
    margin: 20px auto 0;
    text-decoration: none; }
    @media (min-width: 768px) {
      .accomodation__item {
        margin: 35px 10px 0;
        width: 353px;
        display: inline-block; } }
    @media (min-width: 1200px) {
      .accomodation__item {
        width: 379px; } }

.accomodation-card {
  width: 100%;
  background: #fff;
  padding-bottom: 40px; }
  .accomodation-card__photo {
    height: 199px;
    width: 100%; }
  .accomodation-card__title {
    color: #191919;
    font: 400 26px/26px "PT Serif";
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px; }

.room-cost {
  color: #191919;
  font: 500 18px/24px "Fira Sans";
  text-align: center;
  margin: 0; }
  .room-cost__number {
    color: #ff7435;
    font-weight: bold; }

.page-footer__inner {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 1200px) {
    .page-footer__inner {
      width: 1180px; } }
  @media (min-width: 768px) {
    .page-footer__inner {
      padding-left: 20px;
      padding-right: 20px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (min-width: 1200px) {
    .page-footer__inner {
      padding-left: 0;
      padding-right: 0; } }

.page-footer__address {
  display: none; }
  @media (min-width: 768px) {
    .page-footer__address {
      display: block;
      width: 135px;
      color: #191919;
      font: 400 14px/18px "Fira Sans";
      margin: 0; } }

.page-footer__contacts {
  display: none; }
  @media (min-width: 768px) {
    .page-footer__contacts {
      display: block;
      width: 140px;
      color: #191919;
      font: 400 14px/18px "Fira Sans";
      margin: 0; } }

.logo-set__site-logo {
  width: 145px;
  display: block;
  margin: 0; }

.logo-social {
  height: 20px;
  width: 147px;
  margin: 10px 0 0; }
  .logo-social__icon {
    width: 25px;
    margin-right: 32px;
    display: inline-block;
    height: 100%; }
    .logo-social__icon:last-of-type {
      margin-right: 0; }
    .logo-social__icon--vk {
      background: url(../img/IC-Social.png) no-repeat 0px center;
      background-size: cover; }
    .logo-social__icon--insta {
      background: url(../img/IC-Social.png) no-repeat -58px 0px;
      background-size: cover; }
    .logo-social__icon--fb {
      background: url(../img/IC-Social.png) no-repeat -120px 0px;
      background-size: cover; }
