html, body {
  margin: 0;
  padding: 0; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.gr {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 10px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .gr {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      padding: 0 10px;
      box-sizing: border-box; } }
  @media (min-width: 1200px) {
    .gr {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      padding: 0 10px;
      box-sizing: border-box; } }

.page-header {
  border-bottom: 1px solid #ebebeb; }
  .page-header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px; }
    @media (min-width: 1200px) {
      .page-header__inner {
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        height: 89px;
        padding: 0; } }
  @media (min-width: 1200px) and (min-width: 1200px) {
    .page-header__inner {
      width: 1180px; } }
  .page-header__menu-toggler-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 34px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-right: 20px; }
  .page-header__btn-wrap {
    display: none; }
    @media (min-width: 1200px) {
      .page-header__btn-wrap {
        display: block;
        width: 181px;
        margin-left: 60px; } }

.site-logo {
  display: block;
  width: 149px;
  margin: 0 auto 22px;
  padding-left: 49px; }
  @media (min-width: 1200px) {
    .site-logo {
      margin: 0 0 0 10px;
      padding: 0; } }

.menu-toggler {
  width: 29px;
  height: 4px;
  background-color: #ff7435;
  position: relative;
  margin-right: 20px;
  margin-bottom: 22px;
  cursor: pointer; }
  @media (min-width: 1200px) {
    .menu-toggler {
      display: none; } }

.menu-toggler:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ff7435;
  top: -8px; }

.menu-toggler:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ff7435;
  top: 8px; }

.main-nav {
  width: 100%; }
  @media (min-width: 1200px) {
    .main-nav {
      width: auto;
      margin-left: 37px; } }
  .main-nav__list {
    height: 0;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    @media (min-width: 1200px) {
      .main-nav__list {
        height: auto;
        display: inline-block; } }
  .main-nav__list--open {
    height: 250px; }
  .main-nav__item {
    height: 50px;
    display: inline-block;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box; }
    @media (min-width: 1200px) {
      .main-nav__item {
        width: auto;
        height: auto;
        border-top: none;
        margin-right: 12px; } }
  .main-nav__item--active .main-nav__link {
    color: #ff7435; }
  .main-nav__link {
    color: #191919;
    font: 400 14px/50px "Fira Sans";
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: block; }
    @media (min-width: 1200px) {
      .main-nav__link {
        line-height: 14px; } }

.short-contacts {
  display: none; }
  @media (min-width: 1200px) {
    .short-contacts {
      display: inline-block;
      margin-left: 98px; } }
  @media (min-width: 1200px) {
    .short-contacts__phone {
      display: block;
      color: #191919;
      font: 700 18px / 18px PTSans;
      text-decoration: none;
      letter-spacing: 0.05em; } }
  @media (min-width: 1200px) {
    .short-contacts__address {
      display: block;
      color: #191919;
      font: 400 14px/18px "Fira Sans";
      margin-top: 13px; } }

.btn {
  display: block;
  height: 37px;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font: 500 14px/18px "Fira Sans";
  background-color: #ff7435;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  padding: 9px 0;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  border: none;
  outline: none;
  width: 100%; }

.btn:hover {
  background-color: #e85715; }

.btn--icon-calendar {
  background-image: url(../img/IC-Calendar.png);
  background-repeat: no-repeat;
  background-position: 20px 8px;
  padding-left: 15px; }

.btn--simple {
  background: transparent;
  border: 2px solid #fff; }

.btn--simple:hover {
  background: transparent; }

.btn--href {
  border-bottom: 1px dashed #191919;
  background: transparent;
  color: #191919;
  width: 83px;
  border-radius: 0;
  height: 18px;
  margin: 25px auto 0;
  padding: 0; }
  @media (min-width: 768px) {
    .btn--href {
      display: inline-block;
      margin-left: 65px;
      margin-top: 0; } }

.btn--href:hover {
  background: transparent; }

@media (min-width: 768px) {
  .btn--inline {
    display: inline-block;
    width: 181px; } }

.btn--submit {
  border-radius: 0;
  background-color: #0ab89d;
  height: 50px; }

.btn--submit:hover {
  background-color: #066f5f; }

.promo-slider {
  overflow: hidden; }
  .promo-slider__tabs {
    margin: 16px 0 30px;
    padding: 0;
    text-align: center; }
    @media (min-width: 1200px) {
      .promo-slider__tabs {
        margin: 31px 0 58px; } }
  .promo-slider__tabs-item {
    display: inline-block;
    margin-right: 16px; }
    @media (min-width: 768px) {
      .promo-slider__tabs-item {
        margin-right: 36px; } }
    .promo-slider__tabs-item__tabs-item:last-child {
      margin-right: 0; }
    .promo-slider__tabs-item a {
      color: #838383;
      font: 400 14px/14px "Fira Sans";
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .promo-slider__tabs-item--active a {
      color: #ff7435;
      position: relative; }
    .promo-slider__tabs-item--active a:before {
      content: '';
      position: absolute;
      width: 30px;
      border-bottom: 2px solid #ff7435;
      bottom: -9px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

.img-slider {
  height: 320px; }
  @media (min-width: 453px) {
    .img-slider {
      height: 430px; } }
  .img-slider__item {
    box-sizing: border-box;
    background: url(../img/promo-slider.png) no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 20px;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease; }
    .img-slider__item:first-child {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .img-slider__item:last-child {
      -webkit-transform: translate3d(100%, -100%, 0);
      transform: translate3d(100%, -100%, 0); }
    .img-slider__item--active:first-child {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .img-slider__item--active:last-child {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0); }
    @media (min-width: 453px) {
      .img-slider__item {
        background-position: center; } }
    @media (min-width: 1200px) {
      .img-slider__item {
        padding-top: 90px; } }
  .img-slider__inner {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 20px;
    text-align: center; }
    @media (min-width: 1200px) {
      .img-slider__inner {
        width: 1180px; } }
    @media (min-width: 768px) {
      .img-slider__inner {
        background-color: transparent;
        text-align: left; } }
    @media (min-width: 1200px) {
      .img-slider__inner {
        padding-left: 0; } }
  .img-slider__title {
    color: #1c1c1c;
    font: 18px/26px "PT Serif"; }
    @media (min-width: 768px) {
      .img-slider__title {
        font: 36px/42px "PT Serif";
        display: inline-block;
        width: 571px; }
        .img-slider__title span {
          background-color: rgba(255, 255, 255, 0.9);
          padding: 0 10px; } }
  .img-slider__text {
    color: #1c1c1c;
    font: 400 16px/24px "PT Serif";
    margin: 12px 0 0; }
    @media (min-width: 768px) {
      .img-slider__text {
        font: 400 18px/24px "PT Serif";
        margin: 25px 0 0;
        width: 483px; }
        .img-slider__text span {
          background-color: rgba(255, 255, 255, 0.9);
          padding: 0 10px; } }

.service-slider {
  height: 362px; }
  @media (min-width: 768px) {
    .service-slider {
      height: 533px; } }
  @media (min-width: 1200px) {
    .service-slider {
      height: 360px; } }
  .service-slider__item {
    background: url(../img/service-bg.png) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
    padding: 42px 35px 0;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease; }
    @media (min-width: 768px) {
      .service-slider__item {
        padding: 42px 83px 0;
        background-size: 105% 75%;
        background-position: top; } }
    @media (min-width: 1200px) {
      .service-slider__item {
        padding: 0 17.8%;
        background-size: 75%;
        background-position: center; } }
    .service-slider__item:first-child {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .service-slider__item:last-child {
      -webkit-transform: translate3d(100%, -100%, 0);
      transform: translate3d(100%, -100%, 0); }
    .service-slider__item--active:first-child {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .service-slider__item--active:last-child {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0); }
  .service-slider__title {
    color: #000000;
    font: 26px "PT Serif";
    width: 144px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .service-slider__title {
        font-size: 30px;
        width: auto; } }
  .service-slider__descr {
    color: #000000;
    font: 400 16px/22px "Fira Sans";
    margin: 36px 0 0; }
    @media (min-width: 1200px) {
      .service-slider__descr {
        width: 580px;
        margin: 40px auto; } }
  .service-slider__list {
    display: none; }
    @media (min-width: 768px) {
      .service-slider__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 36px 0 0;
        padding: 0;
        list-style: none; } }
    @media (min-width: 1200px) {
      .service-slider__list {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
  @media (min-width: 768px) {
    .service-slider__list-item {
      -webkit-flex-basis: 90px;
      -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
      color: #191919;
      font: 500 14px/18px "Fira Sans";
      text-transform: uppercase;
      margin: 0 27px 27px;
      padding-top: 95px; } }
  @media (min-width: 768px) {
    .service-slider__list-item:first-child {
      background: url(../img/swimming_pool.png) no-repeat center top; } }
  @media (min-width: 768px) {
    .service-slider__list-item:nth-child(2) {
      background: url(../img/galaxy-football-school.png) no-repeat center top; } }
  @media (min-width: 768px) {
    .service-slider__list-item:nth-child(3) {
      background: url(../img/pic.png) no-repeat center top; } }
  @media (min-width: 768px) {
    .service-slider__list-item:nth-child(4) {
      background: url(../img/spa1.png) no-repeat center top; } }
  @media (min-width: 768px) {
    .service-slider__list-item:nth-child(5) {
      background: url(../img/123.png) no-repeat center top; } }
  @media (min-width: 768px) {
    .service-slider__list-item:last-child {
      background: url(../img/animation.png) no-repeat center top; } }

.gallery {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 50px; }
  @media (min-width: 1200px) {
    .gallery {
      width: 1180px; } }
  @media (min-width: 1200px) {
    .gallery {
      margin-top: 75px;
      padding-bottom: 40px; } }
  .gallery__slider {
    height: 260px;
    position: relative;
    cursor: -webkit-grab;
    cursor: grab; }
    @media (min-width: 768px) {
      .gallery__slider {
        height: 325px; } }
    @media (min-width: 1200px) {
      .gallery__slider {
        height: 500px; } }
  .gallery__slider-inner {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%; }
  .gallery__slider-item {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  .gallery__slider-item--active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .gallery__slider-img {
    height: 100%;
    object-fit: cover;
    width: 100%; }
  .gallery__thumb {
    display: none; }
    @media (min-width: 768px) {
      .gallery__thumb {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 75px;
        overflow: hidden; } }
    @media (min-width: 768px) {
      .gallery__thumb {
        height: 115px; } }
  @media (min-width: 768px) {
    .gallery__thumb-item {
      height: 100%;
      width: 128px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      cursor: pointer; } }
  @media (min-width: 768px) {
    .gallery__thumb-item {
      width: 200px; } }

.left {
  -webkit-animation: left 4s ease-in-out;
  animation: left 4s ease-in-out; }

.right {
  -webkit-animation: right 4s ease-in-out;
  animation: right 4s ease-in-out; }

.active-left {
  -webkit-animation: active-left 4s ease-in-out;
  animation: active-left 4s ease-in-out; }

.active-right {
  -webkit-animation: active-right 4s ease-in-out;
  animation: active-right 4s ease-in-out; }

@-webkit-keyframes left {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; } }

@keyframes left {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; } }

@-webkit-keyframes right {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; } }

@keyframes right {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; } }

@-webkit-keyframes active-left {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: 0; }
  26% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: -1; }
  27% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; } }

@keyframes active-left {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: 0; }
  26% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: -1; }
  27% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; } }

@-webkit-keyframes active-right {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: 0; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; } }

@keyframes active-right {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0; }
  25% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: 0; }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    z-index: -1; } }

.review {
  background: url(../img/bike-hire-family.png) no-repeat;
  background-size: cover; }
  .review__inner {
    padding-top: 65px;
    padding-bottom: 48px;
    text-align: center; }
  .review__btn-wrap {
    margin: 38px auto 0;
    width: 146px; }

.review-slider {
  position: relative;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box; }
  @media (min-width: 1200px) {
    .review-slider {
      width: 1180px; } }
  .review-slider__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .review-slider__inner {
        width: 479px; } }
    @media (min-width: 1200px) {
      .review-slider__inner {
        width: 998px;
        position: relative; }
        .review-slider__inner--show-all {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          height: auto; } }
  .review-slider__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease; }
    .review-slider__item:not(:first-of-type) {
      display: none; }
    @media (min-width: 1200px) {
      .review-slider__item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        position: absolute;
        width: 100%;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0; }
        .review-slider__item:not(:first-of-type) {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
        .review-slider__item--active {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          position: static; }
        .review-slider__item--show-all {
          position: static;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); } }
  @media (min-width: 1200px) {
    .review-slider__control {
      height: 20px;
      width: 20px;
      position: absolute;
      border-right: 2px solid #fff;
      border-top: 2px solid #fff;
      top: 55%;
      cursor: pointer; }
      .review-slider__control--right {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 0; }
      .review-slider__control--left {
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
        left: 0; }
      .review-slider__control--show-all {
        display: none; } }

.review-card {
  width: 100vw;
  background: #fff;
  margin-top: 54px;
  padding: 0 42px 25px;
  box-sizing: border-box; }
  .review-card:last-child {
    display: none; }
  @media (min-width: 768px) {
    .review-card {
      width: 479px;
      margin-left: auto;
      margin-right: auto; }
      .review-card:last-child {
        display: block; } }
  @media (min-width: 1200px) {
    .review-card {
      display: inline-block;
      margin: 54px 10px 0; }
      .review-card:last-child {
        display: inline-block; } }
  .review-card__photo {
    width: 82px;
    height: 82px;
    border: 2px solid #fff;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px); }
  .review-card__name {
    color: #191919;
    font: 500 14px/18px "Fira Sans";
    display: block;
    margin: -10px; }
  .review-card__social {
    text-align: center;
    margin-top: 20px; }
  .review-card__social-icon {
    height: 16px;
    width: 22px;
    display: inline-block; }
    .review-card__social-icon--vk {
      background: url(../img/IC-VK.png) no-repeat;
      background-size: contain; }
    .review-card__social-icon--fb {
      background: url(../img/IC-fb.png) no-repeat;
      background-size: contain; }
  .review-card__text {
    color: #000000;
    font: 400 16px/22px "Fira Sans";
    margin: 16px 0 25px; }
  .review-card__date {
    color: #191919;
    font: 400 14px/18px "Fira Sans";
    width: 144px;
    margin: 0 auto; }

.section-title {
  color: #000000;
  font: 26px "PT Serif";
  margin: 0 auto;
  letter-spacing: 0.05em;
  width: 185px;
  text-align: center; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 30px;
      width: auto; } }

.section-title--white {
  color: #ffffff; }

.section-title--grey {
  color: #191919; }

.actions__inner {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-top: 53px;
  text-align: center;
  padding-bottom: 35px; }
  @media (min-width: 1200px) {
    .actions__inner {
      width: 1180px; } }
  @media (min-width: 768px) {
    .actions__inner {
      padding-bottom: 25px; } }
  @media (min-width: 1200px) {
    .actions__inner {
      padding-bottom: 50px; } }

.actions-slider {
  width: 100%;
  height: 370px;
  overflow: hidden;
  position: relative; }
  @media (min-width: 1200px) {
    .actions-slider {
      height: 420px; } }
  .actions-slider__item {
    background: url(../img/weeretewrt.png) no-repeat center;
    background-size: cover;
    height: 296px;
    margin-top: 35px;
    position: relative;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out; }
    @media (min-width: 1200px) {
      .actions-slider__item {
        height: 336px; } }
    .actions-slider__item:first-of-type {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .actions-slider__item:last-of-type {
      -webkit-transform: translate3d(100%, -100%, 0);
      transform: translate3d(100%, -100%, 0); }
    .actions-slider__item--active:first-of-type {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .actions-slider__item--active:last-of-type {
      -webkit-transform: translate3d(0, -110.5%, 0);
      transform: translate3d(0, -110.5%, 0); }
  .actions-slider__inner {
    width: 296px;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: left;
    padding: 16px 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    left: 0px; }
  .actions-slider__title {
    color: #ff7435;
    font: 500 18px/24px "Fira Sans";
    text-transform: uppercase; }
  .actions-slider__text {
    color: #191919;
    font: 400 16px/20px "Fira Sans";
    margin: 0; }
  .actions-slider__indicator {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .actions-slider__indicator-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ff7435;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer; }
    .actions-slider__indicator-item--active {
      background: #ff7435; }

.transport__inner {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 33px;
  text-align: center; }
  @media (min-width: 1200px) {
    .transport__inner {
      width: 1180px; } }
  @media (min-width: 768px) {
    .transport__inner {
      padding-top: 25px;
      padding-bottom: 50px; } }
  @media (min-width: 1200px) {
    .transport__inner {
      padding-top: 50px;
      padding-bottom: 70px; } }

.transport__info {
  padding: 0 58px; }
  @media (min-width: 1200px) {
    .transport__info {
      padding: 0;
      width: 840px;
      margin: 0 auto; } }

.transport__card {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .transport__card:last-of-type {
      margin: 30px auto 0;
      width: 333px; } }
  @media (min-width: 1200px) {
    .transport__card {
      display: inline-block;
      width: 412px;
      vertical-align: top;
      margin-right: 42px; }
      .transport__card:last-of-type {
        margin-top: 40px;
        margin-left: 42px; } }

.transport__icon {
  width: 58px;
  height: 27px;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid; }
  .transport__icon--bus {
    background: url(../img/icon-bus.png) no-repeat center; }
  .transport__icon--train {
    background: url(../img/train-icon.png) no-repeat center; }

.transport__name {
  color: #191919;
  font: 500 14px/24px "Fira Sans";
  margin-top: 10px;
  text-transform: uppercase; }

.transport__text {
  color: #191919;
  font: 400 16px/22px "Fira Sans";
  margin: 17px 0 0; }
  @media (min-width: 1200px) {
    .transport__text {
      text-align: left; } }
  .transport__text span {
    font-weight: bold; }

.map {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  height: 400px;
  margin-top: 35px; }
  @media (min-width: 1200px) {
    .map {
      width: 1180px; } }
  @media (min-width: 1200px) {
    .map {
      margin-top: 40px; } }

.accomodation {
  background: url(../img/accomodation-bg.png) no-repeat;
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 50px; }
  .accomodation__inner {
    padding-top: 15px;
    text-align: center; }
  .accomodation__item {
    width: 278px;
    display: block;
    margin: 20px auto 0;
    text-decoration: none; }
    @media (min-width: 768px) {
      .accomodation__item {
        margin: 35px 10px 0;
        width: 353px;
        display: inline-block; } }
    @media (min-width: 1200px) {
      .accomodation__item {
        width: 379px; } }

.accomodation-card {
  width: 100%;
  background: #fff;
  padding-bottom: 40px;
  border: 1px solid #e3e3e3; }
  .accomodation-card__photo {
    height: 199px;
    width: 100%; }
  .accomodation-card__title {
    color: #191919;
    font: 400 26px/26px "PT Serif";
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px; }

.room-cost {
  color: #191919;
  font: 500 18px/24px "Fira Sans";
  text-align: center;
  margin: 0; }
  .room-cost__number {
    color: #ff7435;
    font-weight: bold; }

.page-footer {
  border-top: 1px solid #ebebeb; }
  .page-footer__inner {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 1200px) {
      .page-footer__inner {
        width: 1180px; } }
    @media (min-width: 768px) {
      .page-footer__inner {
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    @media (min-width: 1200px) {
      .page-footer__inner {
        padding-left: 0;
        padding-right: 0; } }
  .page-footer__address {
    display: none; }
    @media (min-width: 768px) {
      .page-footer__address {
        display: block;
        width: 135px;
        color: #191919;
        font: 400 14px/18px "Fira Sans";
        margin: 0; } }
  .page-footer__contacts {
    display: none; }
    @media (min-width: 768px) {
      .page-footer__contacts {
        display: block;
        width: 140px;
        color: #191919;
        font: 400 14px/18px "Fira Sans";
        margin: 0; } }

.logo-set__site-logo {
  width: 145px;
  display: block;
  margin: 0; }

.logo-social {
  height: 20px;
  width: 147px;
  margin: 10px 0 0; }
  .logo-social__icon {
    width: 25px;
    margin-right: 32px;
    display: inline-block;
    height: 100%; }
    .logo-social__icon:last-of-type {
      margin-right: 0; }
    .logo-social__icon--vk {
      background: url(../img/IC-Social.png) no-repeat 0px center;
      background-size: cover; }
    .logo-social__icon--insta {
      background: url(../img/IC-Social.png) no-repeat -58px 0px;
      background-size: cover; }
    .logo-social__icon--fb {
      background: url(../img/IC-Social.png) no-repeat -120px 0px;
      background-size: cover; }

.promo-banner {
  height: 200px;
  background: url(../img/2.png) center;
  background-size: cover; }
  .promo-banner__inner {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding-top: 55px; }
    @media (min-width: 1200px) {
      .promo-banner__inner {
        width: 1180px; } }
    @media (min-width: 768px) {
      .promo-banner__inner {
        padding-top: 40px; } }
  .promo-banner__title {
    color: #ffffff;
    font: 30px/42px "PT Serif";
    margin: 0 auto;
    width: 259px;
    text-align: center; }
    @media (min-width: 768px) {
      .promo-banner__title {
        width: auto; } }
  .promo-banner__text {
    display: none; }
    @media (min-width: 768px) {
      .promo-banner__text {
        color: #ffffff;
        font: 400 18px/24px "Fira Sans";
        margin: 37px auto 0;
        display: block;
        text-align: center;
        width: 568px; } }

.room-list {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-top: 46px;
  padding-bottom: 48px; }
  @media (min-width: 1200px) {
    .room-list {
      width: 1180px; } }
  @media (min-width: 768px) {
    .room-list {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 1200px) {
    .room-list {
      padding: 40px 0 48px; } }

.room-card {
  margin-top: 50px;
  background: #fafafa;
  padding-top: 35px;
  padding-bottom: 35px;
  border: 1px solid #ebebeb; }
  @media (min-width: 768px) {
    .room-card {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media (min-width: 1200px) {
    .room-card {
      padding-bottom: 50px; } }
  .room-card__title {
    color: #191919;
    font: 400 26px/19px "PT Serif";
    text-align: center;
    margin: 0 0 10px; }
    @media (min-width: 1200px) {
      .room-card__title {
        width: 598px; } }
  @media (min-width: 1200px) {
    .room-card .room-cost {
      width: 598px; } }
  .room-card__photo {
    margin-top: 30px;
    width: 100%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
    @media (min-width: 500px) {
      .room-card__photo {
        width: 360px; } }
    @media (min-width: 768px) {
      .room-card__photo {
        width: 580px;
        height: 308px; } }
    @media (min-width: 1200px) {
      .room-card__photo {
        float: right;
        margin-top: -93px; } }
  .room-card__text {
    color: #191919;
    font: 400 16px/21px "Fira Sans";
    width: 277px;
    margin: 35px auto 0; }
    @media (min-width: 768px) {
      .room-card__text {
        width: 400px; } }
    @media (min-width: 1200px) {
      .room-card__text {
        margin-left: 112px; } }
  .room-card__btn-wrap {
    width: 181px;
    margin: 30px auto 0; }
    @media (min-width: 768px) {
      .room-card__btn-wrap {
        width: 400px; } }
    @media (min-width: 1200px) {
      .room-card__btn-wrap {
        margin-left: 112px; } }

.room__inner {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-top: 45px;
  padding-bottom: 50px; }
  @media (min-width: 1200px) {
    .room__inner {
      width: 1180px; } }
  @media (min-width: 768px) {
    .room__inner {
      padding-bottom: 95px; } }
  @media (min-width: 1200px) {
    .room__inner {
      padding-bottom: 50px; } }

.room__title {
  color: #000000;
  font: 30px "PT Serif";
  text-align: center;
  margin: 0 0 15px 0; }

.room__descr {
  padding: 0 20px; }

.room__descr-title {
  margin-top: 45px;
  color: #191919;
  font: 400 26px/19px "PT Serif"; }
  @media (min-width: 768px) {
    .room__descr-title:nth-of-type(2) {
      margin-top: 55px; } }

.room__descr-text {
  margin-top: 20px;
  color: #191919;
  font: 400 16px/22px "Fira Sans"; }
  @media (min-width: 768px) {
    .room__descr-text {
      margin-top: 30px; } }

@media (min-width: 768px) {
  .room__list-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.room__descr-list {
  color: #191919;
  font: 400 16px/22px "Fira Sans";
  padding-left: 20px;
  list-style: none;
  margin-top: 27px;
  margin-bottom: 0; }
  .room__descr-list--second {
    margin-top: 0; }
    @media (min-width: 768px) {
      .room__descr-list--second {
        margin-top: 27px;
        margin-left: 88px; } }
  .room__descr-list li {
    position: relative; }
  .room__descr-list li:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 5px;
    border-bottom: 2px solid #ff7435;
    border-right: 2px solid #ff7435;
    left: -15px;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.room__btn-wrap {
  width: 181px;
  margin: 45px auto 20px; }
  @media (min-width: 1200px) {
    .room__btn-wrap {
      margin-top: 95px; } }

.room-slider {
  height: 260px;
  margin-top: 30px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .room-slider {
      height: 524px;
      margin-top: 47px; } }
  @media (min-width: 1200px) {
    .room-slider {
      width: 580px;
      height: 397px;
      float: right; } }
  .room-slider__item {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  .room-slider__item--active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .room-slider__photo {
    height: 100%;
    width: 100%; }
  .room-slider__control {
    display: none; }
    @media (min-width: 768px) {
      .room-slider__control {
        display: block;
        height: 20px;
        width: 20px;
        position: absolute;
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        top: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        cursor: pointer; }
        .room-slider__control--right {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          right: 20px; }
        .room-slider__control--left {
          -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
          left: 20px; } }

.recomendation {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center; }
  .recomendation__item {
    display: block;
    margin: 20px auto 0;
    width: 280px;
    text-decoration: none; }
    @media (min-width: 768px) {
      .recomendation__item {
        width: 355px;
        display: inline-block;
        margin: 20px 10px 0; } }
    @media (min-width: 1200px) {
      .recomendation__item {
        width: 378px; } }
  .recomendation__item:last-of-type {
    display: none; }
    @media (min-width: 1200px) {
      .recomendation__item:last-of-type {
        display: inline-block; } }

.booking__inner {
  padding-top: 70px;
  padding-bottom: 50px; }

.booking__title {
  color: #000000;
  font: 30px "PT Serif";
  text-align: center;
  margin: 0; }

.booking__text {
  color: #000000;
  font: 400 16px/20px "Fira Sans";
  margin: 20px auto 0;
  text-align: center;
  width: 60%; }
  @media (min-width: 768px) {
    .booking__text {
      width: 381px; } }

.booking__tel {
  color: #ff7435;
  text-decoration: none; }

.step {
  color: #929292;
  font: 500 14px/18px "Fira Sans";
  text-align: center;
  text-transform: uppercase;
  margin: 0; }

.date-of-rest {
  background: #f1f1f1; }
  .date-of-rest__inner {
    padding-top: 50px;
    padding-bottom: 10px; }
  .date-of-rest__choice-block {
    margin-top: 36px;
    padding: 0;
    text-align: center; }
    @media (min-width: 1200px) {
      .date-of-rest__choice-block {
        margin: 20px auto 0;
        background-color: #fff;
        width: 380px;
        padding-top: 25px;
        position: relative;
        margin-bottom: 98px;
        border: 1px solid #ebebeb; }
        .date-of-rest__choice-block:after {
          content: '';
          height: 90px;
          position: absolute;
          border-left: 1px solid #ebebeb;
          top: 27px;
          left: 50%; } }
  .date-of-rest__choice-item {
    font-size: 0;
    text-align: center; }
    @media (min-width: 768px) {
      .date-of-rest__choice-item {
        display: inline-block;
        margin: 0 10px; } }
    @media (min-width: 1200px) {
      .date-of-rest__choice-item {
        display: inline-block;
        margin: 0 24px; } }
  .date-of-rest__label {
    color: #4c4c4c;
    font: 400 14px/18px "Fira Sans";
    display: block;
    text-align: center;
    text-transform: uppercase; }
  .date-of-rest__input {
    width: 50px;
    height: 50px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    margin-top: 20px;
    margin-bottom: 40px;
    border-right: none;
    text-align: center;
    color: #0ab89d;
    font: 500 14px/18px "Fira Sans"; }
    @media (min-width: 1200px) {
      .date-of-rest__input {
        height: 27px;
        width: 41px;
        margin-bottom: 50px; } }
  .date-of-rest__input:last-of-type {
    width: 70px;
    border-right: 1px solid #ebebeb; }
    @media (min-width: 1200px) {
      .date-of-rest__input:last-of-type {
        width: 53px; } }

.living-place__inner {
  padding-top: 40px;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .living-place__inner {
      padding-top: 50px; } }

.living-place__choice-block {
  margin: 23px auto 0;
  padding: 0;
  border: 1px solid #ebebeb;
  height: 160px;
  width: 280px;
  position: relative; }
  @media (min-width: 768px) {
    .living-place__choice-block {
      width: 380px; } }
  .living-place__choice-block:before {
    position: absolute;
    content: '';
    height: 110px;
    top: 25px;
    left: 50%;
    border-left: 1px solid #ebebeb; }

.living-place__choice-item {
  width: 138px;
  display: inline-block;
  height: 100%; }
  @media (min-width: 768px) {
    .living-place__choice-item {
      width: 188px; } }

.living-place__lable {
  color: #4c4c4c;
  font: 400 14px/18px "Fira Sans";
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 28px;
  position: relative;
  padding-left: 25px; }
  .living-place__lable:before {
    content: '';
    height: 64px;
    width: 82px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 30px; }
  .living-place__lable--hotel:before {
    background: url(../img/IC-Hotel.png) no-repeat center; }
  .living-place__lable--cottage:before {
    background: url(../img/IC-Cottage.png) no-repeat center; }

.living-place__icon {
  opacity: 0; }

.cottage-type {
  background: #f1f1f1; }
  .cottage-type__inner {
    padding-top: 47px;
    padding-bottom: 50px; }
  .cottage-type__choice-block {
    margin-top: 30px;
    padding: 10px 0 45px;
    background: #fff;
    border: 1px solid #ebebeb; }
    @media (min-width: 768px) {
      .cottage-type__choice-block {
        width: 768px;
        padding: 0;
        margin-left: auto;
        margin-right: auto; } }
  .cottage-type__choice-item {
    margin-top: 35px;
    text-align: center;
    color: #979696;
    font: 500 14px/18px "Fira Sans";
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .cottage-type__choice-item {
        display: inline-block;
        width: 189px;
        position: relative;
        margin: 0;
        padding: 63px 0; }
        .cottage-type__choice-item:after {
          content: '';
          position: absolute;
          border-right: 1px solid #ebebeb;
          height: 90px;
          right: 0;
          top: 32px; }
        .cottage-type__choice-item:last-of-type:after {
          display: none; } }
  .cottage-type__choice-label input {
    opacity: 0; }
  .cottage-type__choice-label--checked {
    position: relative;
    color: #191919; }
  .cottage-type__choice-label--checked:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 12px;
    background: url(../img/IC-Check.png);
    left: -25px;
    top: -2px; }
    @media (min-width: 768px) {
      .cottage-type__choice-label--checked:before {
        top: 27px;
        left: 29%; } }
  .cottage-type__feature-block {
    display: none; }
    @media (min-width: 768px) {
      .cottage-type__feature-block {
        display: block;
        margin: 20px auto;
        width: 768px;
        height: 139px;
        background: #fff;
        border: 1px solid #ebebeb; } }
  @media (min-width: 768px) {
    .cottage-type__feature-list {
      padding: 0 70px;
      margin: 0;
      position: relative; }
      .cottage-type__feature-list:before {
        content: '';
        position: absolute;
        border: 7px solid transparent;
        border-bottom: 13px solid #fff;
        top: -20px;
        left: 80px; } }
  @media (min-width: 768px) {
    .cottage-type__feature-item {
      width: 83px;
      display: inline-block;
      margin-right: 45px;
      text-align: center;
      color: #191919;
      font: 500 14px/18px "Fira Sans";
      text-transform: uppercase;
      position: relative;
      height: 100%;
      padding-top: 80px;
      vertical-align: top; }
      .cottage-type__feature-item:last-of-type {
        margin-right: 0; }
      .cottage-type__feature-item:before {
        content: '';
        position: absolute;
        display: block;
        height: 43px;
        top: 24px;
        left: 11px;
        width: 55px; }
      .cottage-type__feature-item:first-of-type:before {
        background: url(../img/Squad_rule_128.png) no-repeat center; }
      .cottage-type__feature-item:nth-of-type(2):before {
        background: url(../img/Elevator_Door_128.png) no-repeat center; }
      .cottage-type__feature-item:nth-of-type(3):before {
        background: url(../img/King_Size_Bed_128.png) no-repeat center; }
      .cottage-type__feature-item:nth-of-type(4):before {
        background: url(../img/Hotel_Bathtub__128.png) no-repeat center; }
      .cottage-type__feature-item:last-of-type:before {
        background: url(../img/Wifi_Modem_128.png) no-repeat center; } }

.personal-info__inner {
  padding-top: 48px;
  padding-bottom: 45px; }

.personal-info__form {
  margin: 12px auto 0;
  width: 280px; }
  @media (min-width: 768px) {
    .personal-info__form {
      width: 725px; } }
  @media (min-width: 1200px) {
    .personal-info__form {
      width: 780px; } }

.input-wrap {
  margin-top: 20px;
  width: 100%; }
  @media (min-width: 768px) {
    .input-wrap {
      display: inline-block;
      width: -webkit-calc((100% - 20px)/2);
      width: calc((100% - 20px)/2);
      vertical-align: top; }
      .input-wrap:nth-of-type(odd) {
        margin-right: 16px; } }
  .input-wrap label {
    color: #4c4c4c;
    font: 400 14px/18px "Fira Sans";
    text-transform: uppercase; }
  .input-wrap input {
    margin-top: 10px;
    display: block;
    border: 1px solid #ebebeb;
    text-transform: uppercase;
    color: #979696;
    font: 400 14px/18px "Fira Sans";
    height: 40px;
    text-align: center;
    padding-left: 15px;
    width: 100%;
    box-sizing: border-box; }
  .input-wrap__info-text {
    color: #4c4c4c;
    font: 400 14px/18px "Fira Sans"; }

.input-wrap--high input {
  height: 50px; }

.input-wrap--small {
  width: 135px; }

.input-wrap--success input {
  background: url(../img/IC-Check.png) no-repeat 15px;
  color: #191919; }

.pay {
  background: #f1f1f1; }
  .pay__inner {
    padding-top: 45px;
    padding-bottom: 80px; }
    @media (min-width: 1200px) {
      .pay__inner {
        width: 780px;
        margin-left: auto;
        margin-right: auto; } }
  .pay__btn-wrap {
    margin: 50px auto 0;
    width: 280px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }
    @media (min-width: 768px) {
      .pay__btn-wrap {
        width: 100%; } }
  .pay__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 768px) {
      .pay__form {
        display: block;
        padding-top: 35px; } }

.pay-block {
  background: #fff;
  border: 1px solid #ebebeb;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px; }
  @media (min-width: 768px) {
    .pay-block {
      width: 450px;
      margin-top: 0;
      margin-bottom: 20px;
      margin-left: 293px; } }
  .pay-block__title {
    position: relative;
    color: #4c4c4c;
    font: 500 14px/18px "Fira Sans";
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 35px;
    margin: 0; }
    .pay-block__title:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 12px;
      background: url(../img/IC-Check-copy.png);
      left: 0;
      top: 2px; }
    .pay-block__title--checked:before {
      background: url(../img/IC-Check.png); }
  .pay-block__text {
    display: none; }
    @media (min-width: 768px) {
      .pay-block__text {
        display: block;
        color: #4c4c4c;
        width: 273px;
        font: 400 14px/18px "Fira Sans";
        float: right;
        margin-top: -20px;
        margin-right: 40px; } }
  .pay-block__radio {
    display: none; }
  .pay-block__form {
    width: 239px; }
    @media (min-width: 768px) {
      .pay-block__form {
        width: 412px; } }
  .pay-block__title-cost {
    color: #4c4c4c;
    font: 400 14px/18px "Fira Sans";
    text-transform: uppercase;
    text-align: center; }
  .pay-block__cost {
    color: #191919;
    font: 500 24px/18px "Fira Sans";
    text-transform: uppercase;
    text-align: center; }
  .pay-block__info {
    color: #4c4c4c;
    font: 400 14px/19px "Fira Sans";
    width: 217px;
    margin: 25px auto 0; }

.pay-block--left {
  padding-left: 0;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }
  @media (min-width: 768px) {
    .pay-block--left {
      float: left;
      width: 278px;
      height: 306px;
      margin-left: 0; } }
